# Config file for v2 and HEAD mirroring!
kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
#archiveSize: 4
mirror:
  platform:
    channels:
      - name: {{ ocp_channel }}-{{ ocp_version[:4] }}
        type: ocp
        minVersion: '{{ ocp_version }}'
    graph: true
{% if rh_operators_v2 is defined and rh_operators_v2 | length > 0 %}
  operators:
    - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ ocp_version[:4] }}
      packages:
        {{ rh_operators_v2 }}
{% endif %}

{% if additional_images is defined and additional_images | length > 0 %}
  additionalImages:
{% for image in additional_images %}
    - name: {{ image }}
{% endfor %}
{% endif %}
