# created using guidance in https://access.redhat.com/solutions/6994677
# Config file for v2 and HEAD mirroring!
kind: ImageSetConfiguration
apiVersion: mirror.openshift.io/v2alpha1
#archiveSize: 4
mirror:
  platform:
    channels:
      - name: {{ ocp_channel }}-{{ ocp_version[:4] }}
        type: ocp
        minVersion: '{{ ocp_version }}'
    graph: true
  operators:
    - catalog: registry.redhat.io/redhat/redhat-operator-index:v{{ ocp_version[:4] }}
      packages:
        # Operators for Quay
        - name: quay-operator
        - name: quay-bridge-operator
        - name: container-security-operator

        # Operators in ACM Context
        - name: advanced-cluster-management
        - name: gatekeeper-operator-product
        - name: multicluster-engine

        # Operators in Security Context (inkl. ACS)
        - name: compliance-operator
        - name: file-integrity-operator
        - name: openshift-cert-manager-operator
        #- name: security-profiles-operator
        - name: rhacs-operator

        # Operators in ODF Context (may be incomplete)
        - name: ocs-client-operator
        - name: ocs-operator
        - name: odf-csi-addons-operator
        - name: odf-multicluster-orchestrator
        - name: odf-operator
        - name: odr-cluster-operator
        - name: odr-hub-operator

        # OCP
        - name: openshift-gitops-operator
        - name: openshift-pipelines-operator-rh
        - name: devspaces
        - name: cincinnati-operator

{% if additional_images is defined and additional_images | length > 0 %}
  additionalImages:
{% for image in additional_images %}
    - name: {{ image }}
{% endfor %}
{% endif %}
