apiVersion: v1
baseDomain: {{ ocp_base_domain }}
compute:
- architecture: amd64
  hyperthreading: Enabled
  name: worker
  replicas: {{ ocp_compute_hosts }}
controlPlane:
  architecture: amd64
  hyperthreading: Enabled
  name: master
  replicas: {{ ocp_control_hosts }}
metadata:
  name: {{ ocp_cluster_name }}
networking:
  clusterNetwork:
  - cidr: {{ ocp_cluster_network }}
    hostPrefix: {{ ocp_host_prefix }}
  machineNetwork:
  - cidr: {{ ocp_machine_network }}
  networkType: OVNKubernetes
  serviceNetwork:
    - {{ ocp_service_network }}
platform:
  baremetal:
    apiVIPs:
      - {{ ocp_api_vip }}
    ingressVIPs:
      - {{ ocp_ingress_vip }}
pullSecret: {{ ocp_pull_secret | to_json }}
sshKey: {{ ocp_ssh_pub }}
imageContentSources:
{% for icsp in oc_mirror_imagecontentset %}
{{ icsp.spec.repositoryDigestMirrors | to_yaml | indent(2, true) }}
{% endfor %}

{% if mirror_registry_cert_pub is defined and mirror_registry_cert_pub | length > 0 %}
additionalTrustBundle: |
{{ mirror_registry_cert_pub | indent(2, true) }}
{% endif %}
