---
- name: include package download and configuration
  ansible.builtin.import_tasks: create_packages.yaml
  tags:
    - packages

- name: include tasks for operatorversions (rh index)
  ansible.builtin.import_tasks: create_operator_versions.yaml
  vars:
    operator_catalog: "registry.redhat.io/redhat/redhat-operator-index"
    operators: "{{ rh_operators }}"
  run_once: false
  when: ( rh_operators is defined ) and
        ( rh_operators | length > 0 )
  tags:
    - isc

- name: set operatorversions (rh index)
  ansible.builtin.set_fact:
    rh_operator_packages: "{{ operator_versions }}"
  when: ( rh_operators is defined ) and
        ( rh_operators | length > 0 )
  tags:
    - isc

- name: include tasks for operatorversions (certified index)
  ansible.builtin.import_tasks: create_operator_versions.yaml
  vars:
    operator_catalog: "registry.redhat.io/redhat/certified-operator-index"
    operators: "{{ certified_operators }}"
  when: ( certified_operators is defined ) and
        ( certified_operators | length > 0 )
  tags:
    - isc

- name: set operatorversions (certified index)
  ansible.builtin.set_fact:
    certified_operator_packages: "{{ operator_versions }}"
  when: ( certified_operators is defined ) and
        ( certified_operators | length > 0 )
  tags:
    - isc

- name: generate ImageSetConfiguration
  ansible.builtin.template:
    src: ./templates/imagesetconfiguration.yaml.j2
    dest: "{{ config_path }}/imagesetconfiguration.yaml"
    mode: 0644
  tags:
    - isc

- name: include tasks for icsp creation
  ansible.builtin.include_tasks: create_icsp.yaml
  tags:
    - icsp

- name: include tasks for ssh keypair
  ansible.builtin.import_tasks: create_ssh_keypair.yaml
  when: ocp_ssh_pub is undefined or
        ocp_ssh_pub == None or
        ocp_ssh_pub| length == 0
  tags:
    - ssh_keypair

- name: include tasks for certificate generation
  ansible.builtin.import_tasks: create_certificates.yaml
  tags:
    - mirror_registry
    - certificates

- name: include tasks for pullsecret generation
  ansible.builtin.import_tasks: create_disco_pull_secret.yaml
  tags:
    - disco_pull_secret

- name: generate install-config
  ansible.builtin.template:
    src: ./templates/install-config.yaml.j2
    dest: "{{ config_path }}/install-config.yaml"
    mode: 0600
  tags:
    - install_configs

- name: generate agent-config
  ansible.builtin.template:
    src: ./templates/agent-config.yaml.j2
    dest: "{{ config_path }}/agent-config.yaml"
    mode: 0600
  tags:
    - install_configs
